#home{
    font-family: Courier;
    font-size: 20px;
    background: linear-gradient(to bottom right, #eafa04f1, rgba(247, 126, 46, 0.753),rgba(243, 243, 17, 0.932));
    color: rgb(1, 8, 8);
    padding: 10px;
    position: relative;
    top: 160px;
    
}

.success{
    background: url(../Photos/102.jpg );
    background: cover;
    background-position: center;
    text-align: center;
    font-size: medium;
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;
    padding-top: 300px;

}

h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(211, 245, 17);
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: .1px;
}

.Successfooter{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 15px;
    margin-top: 200px;
    padding-bottom: 80px;
    color: aqua;

}